* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #e3e3e3;
}

#welcome-section {
  height: 100vh;
}

#navbar {
  width: 100%;
  height: 100px;
  background-color: #5c6bbf;
  border-bottom: 2px solid black;
  position: fixed;
}

#navbar ul {
  list-style-type: none;
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}

#navbar a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#navbar a:hover {
  color: #5c6bbf;
}

#about-me {
  display: flex;
  justify-content: space-evenly;
  padding-top: 125px;
  padding-bottom: 20px;
}

.profile-img {
  width: 200px;
  height: 200px;
  padding: 50px 20px 0px 20px;
}

.welcome {
  color: black;
  padding: 20px 0px 20px 20px;
}

#about-me p {
  font-size: 1.1rem;
  padding: 0 60px 10px 20px;
  line-height: 1.3em;
}

#projects {
  padding: 30px 30px 60px 0px;
}

#projects h1 {
  padding: 0px 0px 30px 40px;
}

.project-container {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-tile {
  width: 550px;
  height: 450px;
  border: 3px solid black;
  margin-bottom: 20px;
}

.project-tile h2 {
  background-color: #5c6bbf;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  border-bottom: 2px solid black;
}

.tile-img {
  width: 550px;
  height: 401px;
}

#contact {
  padding: 0px 30px 20px 0px;
}

#contact h1 {
  padding: 0px 0px 30px 40px;
}

.contact-icons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
}

.contact-img {
  width: 100px;
  height: 100px;
}

#footer {
  font: 1.2rem;
  text-align: center;
  padding-bottom: 50px;
}

/* TODO:  ADD MEDIA QUERIES (AT LEAST ONE) */
@media screen and (max-width: 600px) {
  .profile-img {
    display: none;
  }

  .project-tile {
    max-width: 400px;
    padding-bottom: 30px;
  }

  .tile-img {
    max-width: 400px;
  }
}
